<div class="modal" data-modal="table">
  <button type="button" class="close-btn js-modal-close" data-modal-close>
    <svg class="close-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <form name="contact-form" class="modal-form">
    <h2 class="modal-title">Забронювати столик</h2>

    <div class="inputs-box">
      <div class="first-inputs-column">
        <div class="field">
          <div class="form-control">
            <input
              type="text"
              name="person-name"
              id="person-name"
              class="form-input"
              placeholder="Ваше ім'я"
            />
          </div>
          <label for="person-name" class="form-label"
            >На кого забронювати столик?</label
          >
        </div>

        <div class="field">
          <div class="form-control">
            <input
              type="tel"
              name="person-tel"
              id="person-tel"
              class="form-input"
              placeholder="+38 (___) ___-__-__"
            />
          </div>
          <label for="person-tel" class="form-label">Номер телефону</label>
        </div>
      </div>

      <div class="second-inputs-column">
        <div class="select-container-table-type">
          <div class="select-table-type">
            <input
              type="text"
              id="input-table-type"
              placeholder="2"
              onfocus="this.blur();"
            />
            <!-- <input type="text" id="option" placeholder="2" /> -->
          </div>
          <div class="option-container-table-type">
            <div class="option-table-type">
              <label>2</label>
            </div>
            <div class="option-table-type">
              <label>3</label>
            </div>
            <div class="option-table-type">
              <label>4</label>
            </div>
            <div class="option-table-type">
              <label>5</label>
            </div>
            <div class="option-table-type">
              <label>6</label>
            </div>
            <div class="option-table-type">
              <label>7</label>
            </div>
          </div>
          <label for="input-table-type" class="form-label"
            >Столик на яку кількість осіб?</label
          >
        </div>

        <div class="select-container-table-date">
          <div class="select-table-date">
            <input
              type="text"
              id="input-table-date"
              placeholder="Сьогодні"
              onfocus="this.blur();"
            />
            <!-- <input type="text" id="input1" placeholder="Сьогодні" /> -->
          </div>
          <div class="option-container-table-date">
            <div class="option-table-date">
              <label>Сьогодні</label>
            </div>
            <div class="option-table-date">
              <label>Завтра</label>
            </div>
            <div class="option-table-date">
              <label>Через день</label>
            </div>
            <div class="option-table-date">
              <label>Через 2 дні</label>
            </div>
            <div class="option-table-date">
              <label>Через 3 дні</label>
            </div>
            <div class="option-table-date">
              <label>Через 4 дні</label>
            </div>
          </div>
          <label for="input-table-date" class="form-label"
            >На яку дату бронювати?</label
          >
        </div>
      </div>
    </div>
  </form>

  <button type="submit" class="book-button book-button--modal">
    Оформити бронювання
  </button>
</div>
